<img src="assets/main.jpg" class="bg" />
<div style="position: relative">

	


	<div class ="left-pane">

		<p class= 'p bold'>
			Welcome to Feed-Store
		</p>
		<p class ='p'>
			A community driven RSS feed content aggregator.
		</p>

	</div>

	<div  class='right-pane'>
		<div >
			<table class="table">
				<%= form_for("user", :url => user_session_path) do |f| %>
				<tr>
					<td> <%= f.label :"Enter Email"  %></td>
					<td> <%= f.text_field :email %></td>
				</tr>
				<tr>
					<td> <%= f.label :"Enter Password"  %> </td>
					<td> <%= f.password_field :password %> </td>
				</tr>
				<tr>
					<td colspan="2"> <%= f.check_box :remember_me %>
					<%= f.label :remember_me %> </td>
				</tr>
			</table>
			<%= f.submit 'Sign in' %> 
			<%= link_to " Sign up ", new_user_registration_path %>
			<% end %>
			</table>
		</div> 
		 
		
		 

	</div>

</div>


