<%= form_for(@feed) do |f| %>

<% if @feed.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

	<ul>
		<% @feed.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table>

	<tr>
		<td><label>Tag(s)</label></td>

		<td> 
			<% if @tags.nil? %>
				<input type="text" name="selection" id="selection" >
			<% else %>

				<% value = ""%>
				<% for tag in @tags %>
					<% value = value + tag.tagname + "," %>
				<% end %>
		
			<input type="text" name="selection" id="selection"  value=<%= value %> >
		
			<% end %> </td>
	</tr>

	<tr>
		<td> <%= f.label :name %> </td>
		<td> <%= f.text_field :name, :size => '90%' %> </td>
	</tr>

	<tr>
		<td> <%= f.label :url %> </td>
		<td> <%= f.text_field :url, :size => '90%' %> </td>
	</tr>

	<tr>
		<td> <%= f.label :userid %> </td>
		<td> <%= f.text_field :userid, :readonly => true, :value => current_user.email, :size => '90%'%> </td>
	</tr>
</table>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>
