<div class="ui-layout-center">

	<h1>New feed</h1>

	<%= render 'form' %>

	<%= link_to 'Back', feeds_path %> |
	<%= render 'home' %>

</div>

<div class="ui-layout-north">
	<%= render 'header' %>

</div>


