   <%= javascript_include_tag "jquery.js" %>
   <%= javascript_include_tag "jquery.layout.js" %>
   <%= javascript_include_tag "jquery-ui.min.js" %>
   <%= stylesheet_link_tag "application.css" %>


 
<div id="content" style="height:90%;overflow:scroll">

	<% for key in @url_vs_feed_map.keys %>
		 <% feeds = @url_vs_feed_map[key] %>
		
		 <% for feed in feeds.entries %>
		 	<% feed.sanitize! %>
		 	
				<div class="contentitem">
				
					<!-- Raw to treat content as actual HTML content--> 
					<a target="_blank" href=" <%= feed.url %> "> <b><%= raw feed.title %></b> </a>
					<br>
					<%= raw feed.summary %>R
					<br>
					<i> 
						Published
						<% unless feed.author.nil? %>
							 by <%= feed.author %>
							<% unless feed.categories.nil? %>
								in categories <%= feed.categories %>
							<%end%>
							
						<%end%>
						at <%= feed.published %> 
					</i>
				</div>	
		<% end %>
		
	<% end %>
	
</div>




<div id="bottom" style="position:absolute;bottom:0px;height:50px;width:100%">
	
	
	<%= link_to "BACK", feed_display_index_path %>
	
	
</div>

