<!-- This view contains the actual feed content displayed in the UI-->

<div id="content">

	<% for key in @url_vs_feed_map.keys %>
	<% feeds = @url_vs_feed_map[key] %>

	<% for feed in feeds.entries %>
	<% feed.sanitize! %>

	<div class="contentitem">

		<!-- Raw to treat content as actual HTML content-->
		<a target="_blank" href=" <%= feed.url %> "> <b><%= raw feed.title %></b> </a>
		<br>
		<%= raw feed.summary %>
		<br>
		<i> Published
		<% unless feed.author.nil? %>
		by <%= feed.author %>
		<% unless feed.categories.nil? %>
		in categories <%= feed.categories %>
		<%end%>

		<%end%>
		on <%= feed.published %> </i>
	</div>
	<% end %>

	<% end %>

</div>
