<% content_for :head do -%>
<%= stylesheet_link_tag 'jquery-ui.css' %>
<% end -%>



<div id="accordion" class="accordianitem">
	<% for key in @tag_vs_name_map.keys %>

	<h3 class="tagcontainer"><a href="#"><%= key %>
	<div class="rssicon" id="<%= key %>" >
		<%= image_tag("rss_icon.jpeg", :size => "20x20")%>

	</div> </a></h3>
	<div>
		<p>
			<% names = @tag_vs_name_map[key] %>

			<ul id="menu" align="center">
				<% for feed in names %>
				<li class="namelist">
					<%= feed.to_s %>
				</li>
				<% end %>
			</ul>
		</p>
	</div>
	<% end %>
</div>

