<!DOCTYPE html>
<html>
	<head>
		<title>Feedstore</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>
		<%= yield %>
		<div id="user_nav">
			<% if user_signed_in? %>
			Signed in as <%= current_user.email %>. Not you? <%= link_to " Sign out ", destroy_user_session_path %>
			 
			<% end %>
		</div>		
			
			
		<p>
			  <% if mobile_device? %>
			    <%= link_to "Full Site", :mobile => 0 %>
			  <% end %>
			
		</p>
	</body>
</html>
